#new_cash_flow{
    background-color: #00af7b;
    box-shadow: 2px 3px rgba(100, 100, 100, 0.3);
    border-radius: 12px;
    color: white;
    padding: 17px 0;

}
.cash_flow_budget{
    background-color: #00af7b;
    border-radius: 12px;
    color: white;
}

.cash_flow_budget  .form-check{
  padding-top: 50px;
  padding: 5px;
  display: inline;
}

.submit_btn {
  border-color: #CA3857;
  border-radius: 100px;
  border-width:5px;
  color: #CA3857;
  background-color: white;
  text-align: center;
  font-size: 30px;
  margin: 25px 0;
}

.submit_btn:hover{
  box-shadow: none;
  background-color: #CD3453;
  color: #e5e3e3;
}

.cash_flow_budget_id {
  background-color: #00af7b
}

.icon-resting
{
  margin-left: 1vh;
  margin-right: 1vh;
}
