#new_cash_flow{
    background-color: #00af7b;
    box-shadow: 2px 3px rgba(100, 100, 100, 0.3);
    border-radius: 12px;
    color: white;
    height: 25vh;
}
.cash_flow_budget{
    background-color: #00af7b;
    box-shadow: 2px 3px rgba(100, 100, 100, 0.3);
    border-radius: 12px;
    color: white;
    height: 48vh;
}

.cash_flow_budget  .form-check{
  padding-top: 50px;
  padding: 5px;
  display: inline;
}


.submit_btn {
  border-color: #CA3857;
  border-radius: 100px;
  border-width:5px;
  color: #CA3857;
  background-color: white;
  text-align: center;
  font-size: 30px;
}
.submit_btn:hover{
  box-shadow: none;
  background-color: #CD3453;
  color: #e5e3e3;
}

.cash_flow_budget_id {
  background-color: #00af7b
}

.icon-resting{
  // margin-top: 6vh;
  margin-left: 1vh;
  margin-right: 1vh;
}
