.container {
  display: flex; /* or inline-flex */
  flex-direction: row | row-reverse | column | column-reverse;
  flex-wrap: nowrap | wrap | wrap-reverse;
  justify-content: flex-start | flex-end | center | space-between | space-around | space-evenly;
}

.card1 {

}

.card2 {

}

.element1 {

}

.element2 {

}

.element3 {

}

.element4{

}
