.budget-form {
  color: white;
  padding: 1vh 4vw 3vh 4vw;
  //margin: 1vh 4vw 1vh 4vw;
  position: center;
  margin-top: 0px;
  //background-color: #11af7c;
  }

.new_budget {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #11af7c;
    padding: 1vh 4vw 3vh 4vw;
    box-shadow: 2px 2px rgba(0,0,0,0.2);
    border-radius: 20px;

}

#range_start {
  border-radius: 20px;
    opacity: 0.7;
    width: 50vw;

}

#range_end {
  border-radius: 20px;
    opacity: 0.7;
    width: 50vw;

}


#budget_amount_cents {
      width: 50vw;

}

#budget_description {
  height: 10vh;
}

.pt-0 {
  border-bottom: none;
  color: white;
  margin-bottom: 0px;
  padding: 2vh 0vw;
}

.optional {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 7vw;
}

label {
  text-align: center;
}
