.budget-form {
  color: white;
  padding: 1vh 1vw ;
  //margin: 1vh 4vw 1vh 4vw;
  position: center;
  margin-top: 0px;
  //background-color: #11af7c;
  }

#new_user_goal {
  display: flex;
  flex-direction: column;
  align-items: center;
  //background-color: #11af7c;
    padding: 2vh 2vw ;
    //box-shadow: 2px 2px rgba(0,0,0,0.2);
   // border-radius: 20px;

}




#budget_amount_cents {
      width: 50vw;

}

#budget_description {
  height: 10vh;
}

.new_goal_wrap {
padding-left: none;
display: flex;
flex-direction: column;
  align-items: center;
}

.user_goal_amount_cents {
  padding: 3vh 3vw;
  //background-color: #00af7b;
      //box-shadow: 2px 3px rgba(100,100,100,0.3);
border-radius: 3px;

}

#user_goal_amount_cents {
  border-color: #00AF7B;
  font-size: 32px;
  color: #00AF7B;
  height: 8vh;
}

.user_goal_goal_id {
  //padding: 3vh 3vw;
  background-color: #00af7b;
      box-shadow: 2px 3px rgba(100,100,100,0.3);
border-radius: 12px;
//margin-top: 3vh;
color:  white;
height: 30vh;
width: 90vw;

}

.col-form-label {
 color:  #00af7b
}

.add-goal-but {
  width: 60vw;
  height: 8vh;
  border-radius: 25px;
  background-color: white;
  color: #FF5D00;
  border-color: #FF5D00;
  border: 4px solid;
  font-size: 24px;

}

.question {
  color: #00AF7B;
  text-align: center;
  background-color: white;
  box-shadow: 2px 3px rgba(100,100,100,0.3);
border-radius: 12px;
margin-top: 4vh;
}
