<div class="container">
  <div class="savings">
    <div class="col-xs-12">
      <!-- insert <div class="card"> -->
        <p id="title">Balance</p>
        <% if @user.balance < 0 %>
          <p id="balance-amount" class="negative-balance">$<%= @user.balance  %></p>
        <% else %>
          <p id="balance-amount" class="positive-balance">$<%= @user.balance  %></p>
        <% end %>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-6">
      <p>New Expense</p>
      <%= link_to new_budget_cash_flow_path(:budget_id) do%>
        <i class="fas fa-plus-circle"></i>
      <% end %>
    </div>
    <div class="col-xs-6">
      <p>Your Reports</p>
      <%= link_to dashboard_path do %>
        <i class="fas fa-chart-line"></i>
      <% end %>
    </div>
  </div>
</div>
