<div class="container new-goal-wrap">
      <div class="question"><h4> How much do I have left? </h4></div>
      <div class="row">
     <div class="col col-xs-12 budget-fom">
          <h5>$9,010.85</h5>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-4">
      <!-- insert <div class="card"> -->
    </div>
    <div class="col-xs-12 col-sm-4">
      <!-- insert <div class="card"> -->
    </div>
      </div>
</div>
