<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-4">
      <!-- insert <div class="card"> -->
        <h1>How much do I have left?</h1>
        $<%= @user.balance  %>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-4">
      <h2>New Expense</h2>
      <%= link_to new_budget_cash_flow_path(:budget_id) do%>
        <i class="fas fa-plus-circle"></i>
      <% end %>
    </div>
    <div class="col-xs-12 col-sm-4">
      <h2>Progress Report</h2>
      <%= link_to dashboard_path do %>
        <i class="fas fa-chart-line"></i>
      <% end %>
    </div>
  </div>
</div>
