.goal-form {
  color: white;
  padding: 1vh 1vw ;
  text-align: center;
  //margin: 1vh 4vw 1vh 4vw;
  position: center;
  margin-top: 0px;
  //background-color: #11af7c;
  }

#new_user_goal {
  display: flex;
  flex-direction: column;
  align-items: center;
  //background-color: #11af7c;
    padding: 2vh 2vw ;
    position: relative;
    bottom: 6vh;
    //box-shadow: 2px 2px rgba(0,0,0,0.2);
   // border-radius: 20px;

}

.hide-checkbox {
  position:fixed;
  opacity:0;
}

.new_goal_wrap {
padding-left: none;
display: flex;
flex-direction: column;
align-items: center;
}

.user_goal_amount_cents {
  padding: 3vh w;
  //background-color: #00af7b;
      //box-shadow: 2px 3px rgba(100,100,100,0.3);
  border-radius: 3px;

}

#user_goal_amount_cents {
  border-color: #00AF7B;
  font-size: 32px;
  color: #00AF7B;
  height: 8vh;
}

.user_goal_goal_id {
  //padding: 3vh 3vw;
  background-color: #00af7b;
  box-shadow: 2px 3px rgba(100,100,100,0.3);
  border-radius: 12px;
//margin-top: 3vh;
  color:  white;
  height: 25vh;
  width: 90vw;

}

.col-form-label {
 color:  #00af7b
}


p{
  width: 100%;
  text-align: center;
  font-size: 36px;
}


.submit_btn {
  border-color: #CA3857;
  border-radius: 100px;
  border-width:5px;
  color: #CA3857;
  background-color: white;
  text-align: center;
  font-size: 30px;
}

.title{
  margin-top: 6vh;
  margin-bottom: 25px;
}

.user_goal_goal_id .form-check {
  display: inline;

}

.icon-active{
  box-shadow: 5px 2px 1px 0 rgba(10, 137, 140, 0.07), 0 7px 25px 0 rgba(4, 0, 0, 0.2);
  // box-shadow: 5px 2px 1px 0 rgba(0,0,0,.07), 0 7px 25px 0 rgba(0,0,0,.2);
}

.icon-resting{
  // margin-top: 6vh;
  margin-left: 2vh;
  margin-right: 2vh;
}

// .col-form-label{
//   display: none;
// }
