p{
  width: 100%;
  text-align: center;
  font-size: 36px;
}

#balance{

  margin-top: 110px;
  margin-bottom: 25px;
}

#balance-amount{
  color: #63B9C9;
}

.row{
  margin-top: 30px;
}

.col-xs-6{
  text-align: center;
}

.fas{
  font-size: 85px;
  color: #00C091;
}
