.card {
  height: 10vh;
  background-size: cover !important;
  background-position: center;
  color: #white;
  //background-color: ;
  position: relative;
}
.card-user {
  position: absolute;
  right: 2vw;
  top: 2vh;
  width: 3vw;
  border-radius: 50%;
}
.card-category {
  // position: absolute;
  top: 2vh;
  left: 2vw;
  font-size: 2vh;
  text-transform: uppercase;
}
// .first-card{
//   position: absolute;
//   bottom: 10px;
//   left: 10px;
// }
.card-description h2 {
  font-size: 3vh;
}
.card-description p {
  font-size: 2vh;
  opacity: 0.7;
  font-weight: lighter;
}
.card-link {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  z-index: 2;
  background: green;
  opacity: 0;
}
.card-link:hover {
  opacity: 0.1;
}

.row {
	margin-top: 0vh;
}

.row:before, .row:after {
    content: " ";
}

a {
    color: white;
    text-decoration: none;
}

.bar-main-container {
    font-size: 0.8em;
    color: #FFF;
    width: 95vw;
    height: 13vh;
    border-radius: 2vh;
    font-family: sans-serif;
    font-weight: normal;
    position: relative;
    margin-left: 3%;
}

.wrap { padding: 8px; }

.bar-percentage {
    // marginsleft: -51%;
    float: left;
    background: #00000047;
    border-radius: 14%;
    padding: 2% 1%;
    width: 16%;
    height: 6vh;
    // margin-top: -24%;
    font-size: 3vh;
}

.bar-container {
    float: right;
    border-radius: 1vh;
    height: 2vh;
    background: #00000047;
    width: 81%;
    margin: -11% 2%;
    overflow: hidden;
    // margin-top: -51%;

}

.bar {
  float: left;
  background: #FFF;
  height: 100%;
  -webkit-border-radius: 10px 0px 0px 10px;
  -moz-border-radius: 10px 0px 0px 10px;
  border-radius: 10px 0px 0px 10px;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: alpha(opacity=100);
  -moz-opacity: 1;
  -khtml-opacity: 1;
  opacity: 1;
}
.goal_namee{
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
  padding-bottom: 1vh;
  margin-bottom: 1%;
  margin-left: 3vw;
  font-size: 2vh;
}

.flex-card {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background: #11af7c;
  box-shadow: 0 1px 3px rgba(0,0,0,0.6);
  margin: 1vh 0vw;
  border-radius: 5px;


}

.emerald { background: #11af7c;
  height: 11vh;
  padding: 2vh 2vw;
}

.icons-dash {
  border-radius: 5px;
  margin: 1vh 1vw;
  padding: 11px 11px;
  color: white;
}


.dash-budgets {
  padding-left: 5vw;
  padding-right: 5vw;
}

.hidden{
  //display: none;
  }

.main-dashboard{
    min-height: 0 !important;
  }

  .main-dashboard .row{
    text-align: center;
  }

  .main-dashboard .row img{
    width: 80%;
    padding-bottom: 10vh;
  }

.image_goal {
  //display: flex;
  justify-content: center;
  height: 30vh;

}

.budget-title {
  margin-top: 5%;
}





