<div class="container">
  <div class="row">
    <div class="col col-xs-12 budget-form">
      <%= simple_form_for [@user_goal] do |f| %>
        <%= f.input :amount_cents, label: 'How much do you want to save?', error: 'This field is mandatory',  placeholder: 'Enter the amount'  %>

        <%= f.input :goal_id ,as: :radio_buttons, label: 'Choose a category:', collection: Goal.all %>
        <%= f.button :submit, "Add", class: "add-button" %>
      <% end %>
    </div>
  </div>
</div>
