<div class="container">
  <div class="row">
    <div class="col col-xs-12 ">

  <div class="info-goal">
  <h1>Hi, <%= @user_goal.user.first_name %>!</h1>
  <h2>Your <%= @user_goal.goal.name %> costs <%= @user_goal.amount_cents %>$. Start saving!</h2>
  </div>
  <div class="goal-chart">
  </div>

    </div>
  </div>
</div>

